

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
  body {
      @apply font-[Italian];
  }
  li {
      @apply scroll-px-5;
      @apply cursor-pointer
  }
}

.projects {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.projects:hover {
  background-image: linear-gradient(
      to right,
      rgba(112, 157, 255, 0.8),
      hsla(242, 74%, 61%, 0.8)   
  )!important;
}