

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
  body {
      @apply font-[Italian];
  }
  li {
      @apply scroll-px-5;
      @apply cursor-pointer
  }
}

.projects {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  position: relative;
}


/* .projects div {
  background-color: rgba(248, 247, 216, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.projects:hover {
  background-image: linear-gradient(
      to right,
      rgba(112, 157, 255, 0.5),
      hsla(242, 74%, 61%, 0.5)   
  )!important;
}